/* html, body { */
/* 	height: 100%; */
/*   	padding: 0; */
/*   	margin: 0; */
/* } */

#map-canvas {
	position: absolute;
	height: 84%;
	width: 99%;
}

#map-cover {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	opacity: 0.5;
	color: #C0C0C0;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}