                <div class="footer">
                    <div>
                        <strong>Copyright zoom communication video</strong>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>