<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>layui</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/iplocation/resources/js/layer/css/layui.css" rel="stylesheet">
</head>
<body>
	<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
		<ul class="layui-tab-title">
    		<li class="layui-this" lay-id="1">Table</li>
    		<li lay-id="2">Pie chart</li>
  	</ul>
  	<div class="layui-tab-content">
    	<div class="layui-tab-item layui-show">
        	<table class="layui-table" id="layui-table" lay-filter="table-filter"></table>
    	</div>
    	<div class="layui-tab-item">
    		<div id="pieChart" style="min-width: 700px; height: 400px"></div>
        </div>
  	</div>
  	<script src="/iplocation/resources/js/layer/layui.js" charset="utf-8"></script>
  	<script src="/iplocation/resources/js/echart/echarts-all.js" charset="utf-8"></script>
  	<script>
    	var chartData = ${chartData};
    </script>
    <script src="/iplocation/resources/js/chartdata.js" charset="utf-8"></script>
    <script type="text/html" id="barDemo">
  		<a class="layui-btn layui-btn-mini" lay-event="detail">user trend</a>
	</script>
</body>
</html>