<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>layui</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/iplocation/resources/js/layer/css/layui.css" rel="stylesheet">
</head>
<body>
	<div id="line-chart" style="min-width: 500px; height: 300px">
	</div>
  	<script src="/iplocation/resources/js/layer/layui.js" charset="utf-8"></script>
  	<script src="/iplocation/resources/js/echart/echarts-all.js" charset="utf-8"></script>
  	<script>
    	var lineData = ${lineData};
    </script>
    <script src="/iplocation/resources/js/linechart.js" charset="utf-8"></script>
</body>
</html>