#set($firstLevel = "markercluster")
#set($secondLevel = $!{nav.sl})

#parse("/basic_model/header.vm")
<link rel="stylesheet" href="/iplocation/resources/css/markercluster/MarkerCluster.css" />
<link rel="stylesheet" href="/iplocation/resources/css/markercluster/MarkerCluster.Default.css" />
<link rel="stylesheet" href="/iplocation/resources/js/leaflet/iconpulse/L.Icon.Pulse.css" >

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            	<div class="div-search" >
            		<label class="search-label" style="font-size:large">Map Type:</label>
					<select class="search-select" name="mapType" id="mapType" onchange="updateMap()">
						<option value="marker">marker map</option>
						<option value="heat">heat map</option>
						<option value="point">point map</option>
					</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">DC:</label>
					<select class="search-select" name="serverSelect" id="serverSelect" onchange="updateMap()">
						<option value="all">all</option>
						<option value="sy">sy</option>
						<option value="am">am</option>
						<option value="gs">gs</option>
						<option value="ny">ny</option>
						<option value="tj">tj</option>
						<option value="hk">hk</option>
						<option value="mb">mb</option>
						<option value="sc">sc</option>
						<option value="sp">sp</option>
					</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">IP(MMR/BCS):</label>
                	<select id="ipAddr" onchange="updateMap()">
                	</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">AccountType:</label>
					<select multiple class="chosen-select" id="accountType">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select>&nbsp;&nbsp;
					<label class="search-label" style="font-size:large">Date:</label>
					<div class="layui-inline">
                    	<input type="text" id="dateRange" placeholder="yyyy-MM-dd" />
                    </div>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">Meeting ID:</label>
                	<input type="text" id="meetingId" name="meetingId" />&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">Account ID:</label>
                	<input type="text" id="accountId" name="accountId" />&nbsp;&nbsp;
                	<button type="button" class="btn btn-search-comment">submit</button>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
        	<div id="progress">
				<div id="progress-bar"></div>
			</div>
    		<div class="ibox-content" id="map-canvas">
    		</div>
    	</div>
    </div>
</div>
<div id="map-cover"></div>
#parse("/basic_model/footer_js.vm")
<script>
	var ipData = ${ipData};
    var serverGroupDate = ${serverGroupDate};
	var basicDate = new Date();
	basicDate = new Date(basicDate.getTime() - 86400000*3);
	function getDateStr(dateTmp) {
		var yy = dateTmp.getFullYear(), mm = (dateTmp.getMonth() + 1).toString(), dd = dateTmp.getDate().toString();
    	if (mm.length == 1) {
    		mm = '0' + mm;
    	}
    	if (dd.length == 1) {
        	dd = '0' + dd;
    	}
    	var dateStr = yy+"-"+mm+"-"+dd;
    	return dateStr;
	}
	var basicDateValue = getDateStr(basicDate)+" ~ "+getDateStr(basicDate);
	layui.use('laydate', function(){
		var laydate = layui.laydate;
  		laydate.render({
    		elem: '#dateRange'
    		,range: '~'
    		,min: -33
    		,max: -3
    		,format: 'yyyy-MM-dd'
    		,value: basicDateValue
    		,done: function(value, date){
    			if(value!="") {
    				updateMap(value);
    			} else {
    				alert("date should not null");
    			}
    		}
  		});
	});
	
	// chose server group and map type
	$("#mapType").chosen({width: "6%"});
	$("#serverSelect").chosen({width: "4%"});
	$("#accountType").chosen({
		placeholder_text_multiple:"Select Some Options"
		,width: "8%"
	}); 
	setServerGroupSelect("all",serverGroupDate);

    // server group change
    $('#serverSelect').change(function(){
        var serverSelect = $("#serverSelect").val();
        setServerGroupSelect(serverSelect,serverGroupDate);
    });

    function setServerGroupSelect(serverSelect,data) {
        if (data[serverSelect] && data[serverSelect].length) {
            var strVersion = '<option value="all">all</option>';
            data[serverSelect].forEach(function(key) {
                strVersion += '<option value="'+key+'">' + key + '</option>';
            });
            $('#ipAddr').html(strVersion).show().prev().show();
            // chosen
            $("#ipAddr").chosen("destroy");
			$("#ipAddr").chosen({});
        }
    };
</script>
<script src="/iplocation/resources/js/markercluster/leaflet.markercluster-src.js"></script>
<script src="/iplocation/resources/js/heatmap/leaflet-heat.js"></script>
<script src="/iplocation/resources/js/leaflet/iconpulse/L.Icon.Pulse.js"></script>
<script src="/iplocation/resources/js/publicMethod.js"></script>
<script src="/iplocation/resources/js/mapwork.js" defer></script>
#parse("/basic_model/footer.vm")