#set($firstLevel = "markercluster")
#set($secondLevel = $!{nav.sl})

#parse("/basic_model/header.vm")
<link rel="stylesheet" href="/iplocation/resources/css/markercluster/MarkerCluster.css" />
<link rel="stylesheet" href="/iplocation/resources/css/markercluster/MarkerCluster.Default.css" />
<link rel="stylesheet" href="/iplocation/resources/js/leaflet/iconpulse/L.Icon.Pulse.css" >

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
            	<div class="div-search" >
            		<label class="search-label" style="font-size:large">Map Type:</label>
					<select class="search-select" name="mapType" id="mapType" onchange="updateMap()">
						<option value="marker">marker map&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						<option value="heat">heat map</option>
						<option value="point">point map</option>
					</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">DC:</label>
					<select class="search-select" name="serverSelect" id="serverSelect" onchange="updateMap()">
						<option value="all">ALL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						<option value="sy">SY</option>
						<option value="am">AM</option>
						<option value="gs">GS</option>
						<option value="ny">NY</option>
						<option value="tj">TJ</option>
						<option value="hk">HK</option>
						<option value="mb">MB</option>
						<option value="sc">SC</option>
						<option value="sp">SP</option>
					</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">IP(MMR/BCS):</label>
                	<select id="ipAddr" onchange="updateMap()">
                	</select>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">AccountType:</label>
					<select multiple="multiple" class="chosen-select" id="accountType">
					</select>&nbsp;&nbsp;
					<label class="search-label" style="font-size:large">Date:</label>
					<div class="layui-inline">
                    	<input type="text" id="dateRange" placeholder="yyyy-MM-dd" />
                    </div>&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">Meeting ID:</label>
                	<input type="text" id="meetingId" name="meetingId" />&nbsp;&nbsp;
                	<label class="search-label" style="font-size:large">Account ID:</label>
                	<input type="text" id="accountId" name="accountId" />&nbsp;&nbsp;
                	<button type="button" class="btn btn-search-comment">submit</button>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
        	<div id="progress">
				<div id="progress-bar"></div>
			</div>
    		<div class="ibox-content" id="map-canvas">
    		</div>
    	</div>
    </div>
</div>
<div id="map-cover"></div>
#parse("/basic_model/footer_js.vm")
<script>
	var ipData = ${ipData};
    var serverGroupDate = ${serverGroupDate};
	var basicDate = new Date();
	basicDate = new Date(basicDate.getTime() - 86400000*3);
	function getDateStr(dateTmp) {
		var yy = dateTmp.getFullYear(), mm = (dateTmp.getMonth() + 1).toString(), dd = dateTmp.getDate().toString();
    	if (mm.length == 1) {
    		mm = '0' + mm;
    	}
    	if (dd.length == 1) {
        	dd = '0' + dd;
    	}
    	var dateStr = yy+"-"+mm+"-"+dd;
    	return dateStr;
	}
	var basicDateValue = getDateStr(basicDate)+" ~ "+getDateStr(basicDate);
	layui.use('laydate', function(){
		var laydate = layui.laydate;
  		laydate.render({
    		elem: '#dateRange'
    		,range: '~'
    		,min: -33
    		,max: -3
    		,format: 'yyyy-MM-dd'
    		,value: basicDateValue
    		,done: function(value, date){
    			if(value!="") {
    				updateMap(value);
    			} else {
    				alert("date should not null");
    			}
    		}
  		});
	});
	
	// chose server group and map type
	$("#mapType").select2();
	$("#serverSelect").select2();
  	var accountTypeArray = [
    		{
      			"id": 1000001,
      			"text": "Free GROUP"
    		},
    		{
      			"id": 1000002,
      			"text": "Paid GROUP"
    		},
    		{
      			"id": 0,
      			"text": "Freemium"
    		},
    		{
      			"id": 1,
      			"text": "Free with CC"
    		},
    		{
      			"id": 2,
      			"text": "Free without CC"
    		},
    		{
      			"id": 3,
      			"text": "Pro"
    		},
    		{
      			"id": 4,
      			"text": "Enterprise"
    		},
    		{
      			"id": 5,
      			"text": "API Partner"
    		},
    		{
      			"id": 6,
      			"text": "Education"
    		},
    		{
      			"id": 7,
      			"text": "Biz"
    		},
    		{
      			"id": 8,
      			"text": "Free Trial"
    		},
    		{
      			"id": 9,
      			"text": "VIP"
    		},
    		{
      			"id": 10,
      			"text": "BulkLicense"
    		},
    		{
      			"id": 11,
      			"text": "Zoom Room"
    		}
  		];
	var accountTypeSelect = $("#accountType").select2({
		data: accountTypeArray
	});
	setServerGroupSelect("all",serverGroupDate);

    // server group change
    $('#serverSelect').change(function(){
        var serverSelect = $("#serverSelect").val();
        setServerGroupSelect(serverSelect,serverGroupDate);
    });

    function setServerGroupSelect(serverSelect,data) {
        if (data[serverSelect] && data[serverSelect].length) {
            var strVersion = '<option value="all">all</option>';
            data[serverSelect].forEach(function(key) {
                strVersion += '<option value="'+key+'">' + key + '</option>';
            });
            $('#ipAddr').html(strVersion).show().prev().show();
            // chosen
            $("#ipAddr").select2();
			$("#ipAddr").select2();
        }
    };
</script>
<script src="/iplocation/resources/js/markercluster/leaflet.markercluster-src.js"></script>
<script src="/iplocation/resources/js/heatmap/leaflet-heat.js"></script>
<script src="/iplocation/resources/js/leaflet/iconpulse/L.Icon.Pulse.js"></script>
<script src="/iplocation/resources/js/publicMethod.js"></script>
<script src="/iplocation/resources/js/mapwork.js" defer></script>
#parse("/basic_model/footer.vm")